Repository DjangoGirls/tutorial-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DjangoGirls/committers, @DjangoGirls/de-pr, @DjangoGirls/en-pr, @DjangoGirls/es-pr, @DjangoGirls/fa-pr, @DjangoGirls/fr-pr, @DjangoGirls/it-pr, @DjangoGirls/ja-pr, @DjangoGirls/ko-pr, @DjangoGirls/pl-pr, @DjangoGirls/pt-pr, @DjangoGirls/ru-pr, @DjangoGirls/tr-pr, @DjangoGirls/uk-pr, @DjangoGirls/zh-pr

Update WhiteNoise instructions and apply local_settings in Heroku deployment tutorial.
  en/heroku/README.md
Owners: @DjangoGirls/en-pr

[bugfix] replace localhost to 127.0.0.1 because settings.ALLOWED_HOST contains 127.0.0.1 not localhost
  en/authentication_authorization/README.md
Owners: @DjangoGirls/en-pr

[bugfix] replace localhost to 127.0.0.1 in Spanish
  es/authentication_authorization/README.md
Owners: @DjangoGirls/es-pr

[bugfix] replace localhost to 127.0.0.1 in Korean
  ko/authentication_authorization/README.md
Owners: @DjangoGirls/ko-pr

[bugfix] replace localhost to 127.0.0.1 in Japanese
  ja/authentication_authorization/README.md
Owners: @DjangoGirls/ja-pr

Remove store ad
  book.json
Owners: @DjangoGirls/committers

.github/CODEOWNERS:

# default:
*	@DjangoGirls/committers

# language PR review teams for the respective translations:
/de/	@DjangoGirls/de-pr
/en/	@DjangoGirls/en-pr
/es/	@DjangoGirls/es-pr
/fa/	@DjangoGirls/fa-pr
/fr/	@DjangoGirls/fr-pr
/it/	@DjangoGirls/it-pr
/ja/	@DjangoGirls/ja-pr
/ko/	@DjangoGirls/ko-pr
/pl/	@DjangoGirls/pl-pr
/pt/	@DjangoGirls/pt-pr
/ru/	@DjangoGirls/ru-pr
/tr/	@DjangoGirls/tr-pr
/uk/	@DjangoGirls/uk-pr
/zh/	@DjangoGirls/zh-pr
